<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet' href='../node_modules/datatables/media/css/jquery.dataTables.min.css'>
  <link rel='stylesheet' href='../public/css/style.css'>
  <meta charset="UTF-8">
  <title>main</title>
</head>
<body>
  <div class="sidebar">
    <ul class="nav">
      <li data-collection="customer" class="active">
        <a href="#">Customer</a>
      </li>
      <li data-collection="quotation">
        <a href="#">Ｑuotation</a>
      </li>
      <li>
        <a href="#">History</a>
      </li>
      <li id="settings">
        <a href="#">Settings</a>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="main">
      <span id="new" type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCustomerModal"><span class="glyphicon glyphicon-plus"></span></span>
      <button id="clear" type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#dataConfirmModal">Clear All</button>
      <div id="dataConfirmModal" data-action="multiple" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="dataConfirmLabel">Please Confirm</h3>
            </div>
            <div class="modal-body">
              <p id="confirmMessage"></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <a class="btn btn-danger" id="dataConfirmOK">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newCustomerModal" tabIndex="-1" role="dialog" aria-labelledby="newCustomerModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="newCustomerModalLabel">New Customer</h4>
            </div>
            <div class="modal-body">
              <form id="customer" data-action="new">
                <input type="hidden" id="customerId" value='-1' />
                <div class="form-group">
                  <label for="customer">customer name</label>
                  <input type="text" class="form-control" name="name" id="name" />
                </div>
                <div class="form-group">
                  <label for="addr">address</label>
                  <input type="text" class="form-control" name="addr" id="addr" />
                </div>
                <div class="form-group">
                  <label for="phone">phone</label>
                  <input type="text" class="form-control" name="phone" id="phone" />
                </div>
                <div class="form-group">
                  <label for="contact">contact</label>
                  <input type="text" class="form-control" name="contact" id="contact" />
                </div>
                <div class="clearfix">
                  <button id="submit" class="btn btn-primary pull-right" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newQuotationModal" tabIndex="-1" role="dialog" aria-labelledby="newQuotationModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="newQuotationModalLabel">New Quotation</h4>
            </div>
            <div class="modal-body">
              <form id="quotation" data-action="new">
                <input type="hidden" id="quotationId" value='-1' />
                <div class="form-group">
                  <label for="customer">customer name</label>
                  <input type="text" class="form-control" name="customerName" id="customerName" />
                </div>
                <div class="form-group">
                  <label for="date">date</label>
                  <input type="date" class="form-control" name="date" id="date" />
                </div>
                <div id="item-form" class="row">
                  <div class="col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-wrench"></span>
                      </span>
                      <input id="itemName" type="text" class="form-control" placeholder="item name" aria-label="...">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <div class="input-group-addon">@</div>
                      <input id="quantity" type="number" class="form-control" aria-label="...">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input id="price" type="number" class="form-control" aria-label="...">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <button id="addItem" class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                  </div>
                </div>
                <div style="height: 20px;"></div>
                <ul id="items" class="list-group">
                  <li class="list-group-item hidden"></li>
                </ul>
                <div class="clearfix">
                  <button id="submit" class="btn btn-primary pull-right" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="detailModal" class="modal fade" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="detailModalLabel">Quotation</h4>
            </div>
            <div id="detailBody" class="modal-body">
              <div class="list-group">
                <span class="list-group-item">
                  <h4>Name</h4>
                  <p id="_customerName"></p>
                </span>
                <span class="list-group-item">
                  <h4>Date</h4>
                  <p id="_date"></p>
                </span>
                <span class="list-group-item">
                  <h4>Address</h4>
                  <p id="_addr"></p>
                </span>
                <span class="list-group-item">
                  <h4>Phone</h4>
                  <p id="_phone"></p>
                </span>
                <span class="list-group-item">
                  <h4>Contact</h4>
                  <p id="_contact"></p>
                </span>
              </div>
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
      <div class="content">
        <table id="customer" class="table table-striped" data-col="5">
          <thead>
            <th>id</th>
            <th>name</th>
            <th>address</th>
            <th>phone</th>
            <th>contact</th>
            <th>func</th>
          </thead>
        </table>
        <table id="quotation" class="table table-striped" style="display:none;" data-col="3">
          <thead>
            <th>id</th>
            <th>customer</th>
            <th>date</th>
            <th>func</th>
          </thead>
        </table>
      </div>
    </div>
    <div class="settings hidden">
      <button id="resetDb" type="button" class="btn btn-success" data-toggle="modal" data-target="#dataResetModal">Load sample db</button>
      <div id="dataResetModal" class="modal fade" role="dialog" aria-labelledby="dataResetLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="dataResetLabel">Please Confirm</h3>
            </div>
            <div class="modal-body">
              <p id="confirmMessage">This reset db from sample.json.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
              <a class="btn btn-danger" id="dataResetOK">Reset</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');</script>
  <script src='../node_modules/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='../node_modules/datatables/media/js/jquery.dataTables.min.js'></script>
  <script src='../public/js/main.js'></script>
</body>
</html>
